<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <package android:name="com.miHoYo.Yuanshen" />
        <package android:name="com.miHoYo.ys.bilibili" />
        <package android:name="com.miHoYo.GenshinImpact" />
        <package android:name="com.miHoYo.cloudgames.ys" />
        <package android:name="com.miHoYo.cloudgames.GenshinImpact" />
        <package android:name="com.miHoYo.ys.mi" />
        <package android:name="tv.danmaku.bili" />
        <package android:name="com.bilibili.app.in" />
        <package android:name="tv.danmaku.bilibilihd" />
        <package android:name="com.bilibili.app.blue" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="bilibili" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:name=".PocketApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterGIPocket">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.BetterGIPocket.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="bettergi"
                    android:host="p"
                    android:path="/launch" />
            </intent-filter>
        </activity>

        <activity
            android:name=".capture.CapturePermissionActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.BetterGIPocket.Transparent" />

        <service
            android:name=".service.TriggerForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync|mediaProjection" />

        <service
            android:name=".input.InputAccessibilityService"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":a11y"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <provider
            android:name=".input.AccessibilityBridgeProvider"
            android:authorities="${applicationId}.a11y"
            android:exported="false"
            android:process=":a11y" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver
            android:name=".debug.DebugControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bettergi.pocket.debug.SET_SCREEN_SHARE" />
                <action android:name="com.bettergi.pocket.debug.SET_SCAN" />
                <action android:name="com.bettergi.pocket.debug.SET_PROBE" />
                <action android:name="com.bettergi.pocket.debug.SET_VERBOSE" />
                <action android:name="com.bettergi.pocket.debug.SWIPE_TEST" />
                <action android:name="com.bettergi.pocket.debug.SCAN_FLOW" />
                <action android:name="com.bettergi.pocket.debug.STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
